body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.header {
  margin-bottom: 30px;
}

.input-group {
  box-shadow: 0 3px 2px rgba(44, 62, 80, 0.1);
  margin: 10px;
}

#input-box {
  text-align: center;
  width: 100%;
  height: 46px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.container li {
  text-align: center;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 2px rgba(44, 62, 80, 0.1);
  margin: 10px;
  margin-left: 0;
  padding: 14px 50px 14px 14px;
}

.buttons {
  float: right;
  width: 100px;
  height: 46px;
  position: relative;
  top: 0;
  right: 0;
}

.buttons button {
  font-size: 30px;
  width: 50px;
  height: 46px;
  float: left;
  position: relative;
  box-shadow: none;
  outline: none;
  background: none;
  border: 0;
  cursor: pointer;
}

.buttons button:last-child:before {
  content: '';
  width: 2px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #edf0f1;
}
