#task-manager {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
}

.input-group {
  box-shadow: 0 3px 2px #e5e5e5;
  margin: 10px;
}

#input-box {
  text-align: center;
  width: 600px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #585148;
  box-shadow: 0 3px 2px #e5e5e5;
}

#all-tasks li {
  text-align: center;
  color: #585148;
  width: 600px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 2px #e5e5e5;
  margin: 10px;
  margin-left: 0;
  padding: 14px 50px 14px 14px;
}

.icons {
  float: right;
  width: 100px;
  height: 45px;
}

.icons button {
  float: left;
  font-size: 30px;
  width: 50px;
  height: 45px;
  position: relative;
  box-shadow: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icons button:last-child::before {
  content: '';
  width: 2px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #585148;
}

#break-line {
  width: 690px;
  max-height: 30px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

#journal-page {
  position: absolute;
  display: block;
  margin: auto;
  background-image: url('http://www.gardensandcrafts.com/images/printables/gj6.jpg');
  background-size: cover;
  width: 1000px;
  height: 1250px;
  opacity: 0.6;
  z-index: -1;
}

#journal-form {
  position: relative;
  background: none;
  border-radius: 10px;
  top: 200px;
  left: 100px;
  height: 930px;
  width: 800px;
  color: #a555de;
  font-size: 19px;
}

#journal-title {
  text-align: center;
  position: relative;
  background: none;
  border-radius: 10px;
  border-color: #a555de;
  border-width: thin;
  top: 180px;
  left: 110px;
  height: 50px;
  width: 370px;
  color: #a555de;
  font-size: 19px;
}

#journal-date {
  text-align: center;
  position: relative;
  background: none;
  border-radius: 10px;
  border-color: #a555de;
  border-width: thin;
  top: 180px;
  left: 150px;
  height: 50px;
  width: 370px;
  color: #a555de;
  font-size: 19px;
}

#journal-save {
  color: white;
  display: inline-block;
  position: relative;
  width: 800px;
  top: 185px;
  left: 100px;
  background-color: #a555de;
}
