#task-manager {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
}

.input-group {
  box-shadow: 0 3px 2px #e5e5e5;
  margin: 10px;
}

#input-box {
  text-align: center;
  width: 600px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #dc8a1b;
  box-shadow: 0 3px 2px #e5e5e5;
}

#all-tasks li {
  text-align: center;
  color: #dc8a1b;
  width: 600px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 3px 2px #e5e5e5;
  margin: 10px;
  margin-left: 0;
  padding: 14px 50px 14px 14px;
}

.icons {
  float: right;
  width: 100px;
  height: 45px;
}

.icons button {
  float: left;
  font-size: 30px;
  width: 50px;
  height: 45px;
  position: relative;
  box-shadow: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

#break-line {
  width: 690px;
  max-height: 30px;
}
